@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background1: #121212;
    --background2: #fff3ef;
    --button: #b4aaa3;
    --primary: #ffffff;
    --secondary: #8F8B8B;


}

.html {
    scroll-behavior: smooth;
}


.header {
    height: 145px;
    padding: 0 14%;
    background-color: var(--background1);
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-family: "Poppins", Arial;
    font-size: 28px;
    font-weight: 700;
}

.header nav {
    display: flex;
    gap: 48px;
}

.header a {
    color: var(--primary);
    text-decoration: none;
    font-family: "Poppins";
    font-size: 20px;
}

.banner {
    justify-content: center;
    height: 93vh;
    padding: 70px 100px;
}

.img-banner {
    justify-content: center;
    width: 800px;
    height: 93vhpx;
}